.stars-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}

.stars-container.show {
    opacity: 1;
}

.star {

    position: absolute;
    top: -30px;

    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: white;

    box-shadow:
        0 0 8px white,
        0 0 15px cyan,
        0 0 25px #3b82f6;

    opacity: 0;
}

.stars-container.show .star {
    animation: fall linear forwards;
}

@keyframes fall {

    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(800px);
    }

}