/* ===============================
   GLOBAL RESET
================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  transition: background 0.3s ease, color 0.3s ease;
  background: #000;
  color: #ffffff;
}
html,body,#root{
width:100%;
min-width:100%;
overflow-x:hidden;
scroll-behavior: auto;
  overflow-anchor: none;
}


/* ===============================
   THREE.JS BACKGROUND
================================= */

.three-bg{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:-1;
overflow:hidden;
}



/* ===============================
   SECTIONS
================================= */

.section {
  min-height: 100vh;
  padding: 120px 20px 80px 20px; /* space for fixed navbar */
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}



/* ===============================
   CUSTOM CURSOR
================================= */

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid cyan;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

/* ===============================
   MOBILE RESPONSIVE
================================= */

@media (max-width: 768px) {
.primary-btn, .secondary-btn{
    position: relative;
    right: 15px;
    color: white;
    box-shadow: 0 0 20px #14b8a6;
  }
 

}



